@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css");

/* Variables de color y tamaño */
:root{
    --color-back: #eeeeee;
    --color-main: #e68c29;
    --color-light: #fcd59b;
    --color-xlLight: #fefefe;
    --color-pink: #cb3c7a;
    --color-blue: #0e2b7d;
    --color-lGrey: #afafaf;
    --color-grey: #373737;
    --color-black: #000;
    --max-width: 980px;
}

/* Estilos generales del cuerpo del documento */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body{
    font-family: 'Outfit', sans-serif;
    background-color: var(--color-back);
}

/* Estilo general para links */
a{
    text-decoration: none;
}

/* Estilos para Tablets */
@media (width >= 768px) {

  .main-navbar, .tags-filter{
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      width: 100%;
  }

  .text-button{
      display: block;
      color: var(--color-grey);
      font-weight: bold;
  }

  .text-button:hover{
      color: var(--color-blue);
  }

  .button{
      display: inline-flex;
      align-items: center;
      padding: 12px;
      gap: 8px;
      height: 45px;
      border-radius: 2px;
      cursor: pointer;
      color: var(--color-back);
      border: 1px solid transparent;
      font-size: 15px;
      line-height: 25px;
      transition: background 0.2s ease-in-out;
  }
  
  .button:hover{
      opacity: 0.8;
      box-shadow: 0px 6px 16px rgba(27,91,100,0.15);
  }
  
  .button-primary{
      background: var(--color-main);
  }
  
  .button-secondary{
      background: var(--color-grey);
  }
  
  .button-secondary:hover{
      opacity: 0.8;
  }

  #search{
      max-width: 360px;
  }

  .nav-list{
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      align-items: center;
      gap: 20px;
  }

  .featured-posts{
      align-items: flex-end;
      height: 60vh;
  }

  .posts-list-container{
      padding: 0;
  }
  
  .post-list{
      grid-template-columns: repeat(3,1fr);
      grid-auto-rows: minmax(560px, auto) 400px; 
      gap: 60px 20px;
  }
  .post-list .card:nth-child(4n){
      grid-column: 1/4;
      padding: 48px;
  }
  .post-list .card:nth-child(4n) img{
      max-width: 400px;
  }

  .card{
      padding: 0;
  }

  .card section{
      padding: 18px;
  }

  .card-extended{
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 20px;
      justify-content: space-between;
  }

  .card-inverted{
      flex-direction: row-reverse;
  }

  .sec-extended{
      padding: 0 16px;
      max-width: 400px;
  }

  .post-container{
      max-width: 80%;
      margin: 0 auto;
  }

  .post-selected header{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
  }

  .post-img img{
      width: 100%;
      height: 50vh;
      object-fit: cover;
  }

  form label,
  form input[type="email"],
  form input[type="text"],
  form input[type="tel"],
  form select {
      width: calc(100% - 8px);
  }

  form input[type="checkbox"] {
      margin-right: -8px;
  }

  form input[type="submit"] {
      width: calc(50% - 8px);
  }

  aside{
      background-image: radial-gradient(circle at 99% 33%, hsla(235,0%,48%,0.03) 0%, hsla(235,0%,48%,0.03) 37%,transparent 37%, transparent 100%),radial-gradient(circle at 46% 16%, hsla(235,0%,48%,0.03) 0%, hsla(235,0%,48%,0.03) 43%,transparent 43%, transparent 100%),radial-gradient(circle at 99% 25%, hsla(235,0%,48%,0.03) 0%, hsla(235,0%,48%,0.03) 22%,transparent 22%, transparent 100%),radial-gradient(circle at 57% 88%, hsla(235,0%,48%,0.03) 0%, hsla(235,0%,48%,0.03) 86%,transparent 86%, transparent 100%),radial-gradient(circle at 82% 78%, hsla(235,0%,48%,0.03) 0%, hsla(235,0%,48%,0.03) 22%,transparent 22%, transparent 100%),linear-gradient(90deg, rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.7)), url('./img/posts/contacto.jpg') ;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
  }
}

